@import "../../styles/mixins.scss";

* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

.often__wrapper {
  background-color: #fcf9f7;
  width: 100%;
  overflow: hidden;
}

.often__answer {
  overflow: hidden;
  padding: 0 15px 0px 0px;
  width: 100%;

  .often__answer-content {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: #333333;
    margin-top: 5px;
    margin-bottom: 20px;
  }
}

.often__item-container {
  width: 100%;
}

.often {
  @include display();
  padding: 0px 0px 20px 0px;
  flex-direction: column;
  gap: 50px;
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;

  &__center {
    @include display();
    justify-content: space-between;
    padding: 20px 26px;
    background-color: #fcf9f7;
    width: 100%;
    box-sizing: border-box;
    gap: 40px;
  }

  &__left {
    @include display();
    flex-direction: column;
    align-items: start;
    gap: 10px;
    width: 55%;
  }

  &__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    font-size: 16.5767px;
    line-height: 24px;
    color: #000000;
  }

  &__items {
    @include display();
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 15px 0px;
    border-bottom: 1px solid rgb(131, 129, 129);
    cursor: pointer;

    svg {
      flex-shrink: 0;
    }
  }

  &__items-text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16.5767px;
    line-height: 24px;
    color: #000000;
  }

  &__cards {
    @include display();
    flex-direction: column;
    align-items: start;
    width: 100%;
  }

  &__right {
    position: relative;
    max-width: 40%;
    width: 100%;

    & img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__right-box {
    @include display();
    flex-direction: column;
    align-items: start;
    gap: 5px;
    position: absolute;
    margin-top: 15px;
    bottom: 100px;
  }

  &__right-box-title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    color: #000000;
  }

  &__right-button {
    border: 1px solid;
    padding: 5px 10px;
    border-radius: 20px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #000000;
    background-color: white;
    cursor: pointer;
  }

  &__form {
    width: auto;
  }
}

@media (max-width: 1100px) {
  .often {
    &__center {
      flex-direction: column;
      align-items: center;
      padding: 20px;
      gap: 30px;
    }

    &__left {
      width: 100%;
    }

    &__right {
      order: -1;
      @include display();
      flex-direction: column;
      align-items: center;
      width: 100%;
      max-width: 300px;
      margin: 0 auto;

      & img {
        width: 100%;
      }
    }

    &__right-box {
      width: 100%;
      align-items: center;
    }

    &__form-text {
      padding: 0px;
      width: 100px;
      background-color: white;
      right: 0px;
      top: 20px;
      font-size: 10px;
    }
  }
}

@media (max-width: 500px) {
  .woman__images {
    position: relative;
    right: -80px !important;
    width: 100% !important;
    max-width: 280px;
  }

  .often {
    &__center {
      padding: 15px;
      gap: 25px;
    }

    &__left {
      width: 100%;
    }

    &__items-text,
    &__title {
      font-size: 14px;
      line-height: 1.3;
    }

    &__right-box {
      position: absolute;
      bottom: 0;
      width: 100%;
      align-items: center;
      margin-top: 10px;
    }

    &__items {
      padding: 12px 0;
    }
  }

  .often__wrapper,
  .often__center,
  .often__left {
    overflow-x: hidden;
  }
}
